mixin group(name,layout,size,connection,transform,pos)
  WidgetGroup
    if name
      ObjectName!= name
    Layout!= layout
    if pos
      Pos!= pos
    if size
      Size!= size
    Children
      if block
        block
    if connection
      Connection
        ConfigKey!= connection
        BindProperty visible
        if transform == 'not'
          Transform
            Not/
        
mixin template(src)
  if block
    Template(src='skin:widgets/'+src+'.xml')
      block
  else
    Template/(src='skin:widgets/'+src+'.xml')
      
mixin get(name)
  Variable/(name=name)

mixin set(name,val)
  if block
    SetVariable(name=name)
      block
  else
    SetVariable(name=name)!= val

doctype template
block comment
Template
  block template
